In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()

In [5]:
df = df.append(pd.Series(dict(a=1, b=2), name='aa'))
df

      a    b
aa  1.0  2.0
aa  1.0  2.0

In [6]:
df = df.append(pd.Series(dict(c=1, d=2), name='aa'))
df

      a    b    c    d
aa  1.0  2.0  NaN  NaN
aa  1.0  2.0  NaN  NaN
aa  NaN  NaN  1.0  2.0

In [7]:
df.isna()

        a      b      c      d
aa  False  False   True   True
aa  False  False   True   True
aa   True   True  False  False

In [10]:
df[df.isna()] = '--'

In [11]:
df

     a   b   c   d
aa   1   2  --  --
aa   1   2  --  --
aa  --  --   1   2

In [12]:
a = dict(a=1, b=2)

In [13]:
a

{'a': 1, 'b': 2}

In [19]:
Exception('aaa')

Exception('aaa')