In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame()

In [5]:
df = df.append(pd.Series(dict(a=1, b=2), name='aa'))
df

      a    b
aa  1.0  2.0

In [6]:
df = df.append(pd.Series(dict(c=1, d=2), name='aa'))
df

      a    b    c    d
aa  1.0  2.0  NaN  NaN
aa  NaN  NaN  1.0  2.0

In [7]:
df.isna()

        a      b      c      d
aa  False  False   True   True
aa   True   True  False  False

In [8]:
df[df.isna()] = '--'

In [21]:
df

Empty DataFrame
Columns: [a, b, c, d]
Index: []

In [10]:
a = dict(a=1, b=2)

In [11]:
a

{'a': 1, 'b': 2}

In [20]:
df.drop(index='aa', inplace=True)

In [19]:
Exception('aaa')

Exception('aaa')

In [20]:
df

     a   b   c   d
aa   1   2  --  --
aa   1   2  --  --
aa  --  --   1   2

In [21]:
df.loc['aa']

     a   b   c   d
aa   1   2  --  --
aa   1   2  --  --
aa  --  --   1   2

In [26]:
df = df.append(pd.Series(name='c'))

In [28]:
df.loc['c']['a'] = 'a'

In [29]:
df

     a    b    c    d
aa   1    2   --   --
aa   1    2   --   --
aa  --   --    1    2
c    a  NaN  NaN  NaN

In [31]:
'aa' in df.index

True

In [32]:
se = df.loc['c']

In [33]:
se

a      a
b    NaN
c    NaN
d    NaN
Name: c, dtype: object

In [34]:
df

     a    b    c    d
aa   1    2   --   --
aa   1    2   --   --
aa  --   --    1    2
c    a  NaN  NaN  NaN

In [35]:
se['b'] = 'b'

In [36]:
df

     a   b    c    d
aa   1   2   --   --
aa   1   2   --   --
aa  --  --    1    2
c    a   b  NaN  NaN

In [1]:
import os

In [2]:
os.path.basename('a//b')

'b'

In [3]:
os.environ['ONEDRIVE']

'C:\\Users\\nica\\OneDrive'